

.format{
    margin-top: 80px;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #918282;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .product-card {
    flex: 0 0 calc(20% - 40px); 
    background-color: #fff;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .product-card:hover {
    transform: scale(1.02);
  }
  
  .product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .product-details {
    padding: 15px;
  }
  
  .product-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product-description {
    color: #555;
  }
  
  .product-price {
    font-size: 1.2em;
    color: #333;
  }
  
  .product-button {
    display: block;
    padding: 8px 15px;
    background-color: #af4c4c;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .product-button:hover {
    background-color: #a82424;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }