.Wawbg{
    background-color: rgb(255, 217, 193);
    height: 300px;
    width: 100%;
    margin-top: -1px;
    position: relative;
}

.WawPhoto{
    background-color: #000;
    position: absolute;
    top: 100px;
    left: 5%;
    bottom: 10px;
    width: 200px;
}

.title{
    text-align: center;
    font-size: 50px;
    color: azure;
}

.Wawdesc {
    font-size: 30px;
    color: azure;
    position: flex;
    margin-left: 300px;
    margin-top: 40px;
    margin-right: 10px;
}

@media screen and (max-width: 940px){
    .Wawdesc {
        font-size: 20px;
        color: azure;
        position: flex;
        margin-left: 300px;
        margin-top: 40px;
    }
}
