.Wnbg{
    background-color: rgb(20, 77, 20);
    height: 400px;
    width: 100%;
    margin-top: 80px;
    position: relative;
}

.Wn1{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: black;
    top: 100px;
    left: 5%;
}

.Wn2{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: black;
    top: 100px;
    left: 45%;
}

.Wn3{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: black;
    top: 100px;
    right: 5%;
}

.Wn1desc{
    font-size: 20px;
    color: azure;
    position: flex;
    margin-left: 300px;
    margin-top: 40px;
}


@media screen and (max-width: 940px){
    .Wn1{
        position: absolute;
        width: 150px;
        height: 150px;
        background-color: black;
        top: 100px;
        left: 5%;
    }
    
    .Wn2{
        position: absolute;
        width: 150px;
        height: 150px;
        background-color: black;
        top: 100px;
        left: 38%;
    }
    
    .Wn3{
        position: absolute;
        width: 150px;
        height: 150px;
        background-color: black;
        top: 100px;
        left: 70%;
    }

    .Wn1desc{
        font-size: 15px;
        color: azure;
        position: flex;
        margin-left: 300px;
        width: 150px;
        z-index: 1;
        
       
    }
    .Wn2desc{
        color: white;
    }
    .Wn3desc{
        color: white;
    }
} 



